<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629312533416-7f7c9ikigf47vuc5s3921uvk6sg8ddj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629312533416-7f7c9ikigf47vuc5s3921uvk6sg8ddj7</string>
	<key>API_KEY</key>
	<string>AIzaSyCcerRfaU5xcd4vJ-hPJt83G1tBLoa7Jhc</string>
	<key>GCM_SENDER_ID</key>
	<string>629312533416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pengyuanyang.demo</string>
	<key>PROJECT_ID</key>
	<string>sademo-9f163</string>
	<key>STORAGE_BUCKET</key>
	<string>sademo-9f163.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629312533416:ios:c0c0ffe930c8b8ecdc639d</string>
	<key>DATABASE_URL</key>
	<string>https://sademo-9f163.firebaseio.com</string>
</dict>
</plist>